#background {
  width: 100%;
  background-image: url("../images/"); 
}  


#navigation {
  background-color: #f7e6f4;
}
#navigation ul {
  margin: 0;
  padding: 0; 
}
#navigation li {
  border-right: 1px solid #A30303;
  display: block;
  float: left;
  margin: 0;
}
#navigation li:last-child {
  border-right-width: 0;
}
#navigation a {
  background-color: #ccddff;
  color: #f40ee9;
  display: block;
  padding: .75em 1.5em;
  text-decoration: none;
  transition: all .25s ease-in-out;
  
}
#navigation a:hover {
  background-color: #333;
}


#banner {
    height: 142px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
}
#wrap {
      width: 1059px;
      margin: 0 auto;
      background-color: #f7e6f4;
}     
     
     
body {
     background-color: lightblue;
     
}
      

h2 {
  font-family: cursive
}

h1 {
  font-family: cursive
}


h4 {
  font-family: cursive
}



P {
  font-family: monospace}